{% load static %}
<footer class="footer mt-auto">
    <div class="container">
        <div class="text-center" style="background-color: #6f42c1;">
            <span style="color: #fff; font-family: Courier, monospace;">© {{ year }} Авторские права:</span>
            <a style="color: #892cdc; font-family: Courier, monospace; text-decoration: 0;" href="/">Source-Py.net</a>
            <span style="font-size: 0.9rem; color: #fff; font-family: Courier, monospace;" class="m-3 mt-0 mb-0">Все
                права защищены</span>
        </div>
    </div>
</footer>
